* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: hsl(240, 38%, 20%)
  --grayish-blue: hsl(240, 18%, 77%)
}

body {
  font-family: 'Inter', sans-serif;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
